<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Verzoek tot gegevensoverdraagbaarheid</title>
</head>

<body style="height: 100%;background-image: linear-gradient(to bottom, #1d58ef, #1c4ae4, #1d3bd9, #1f2ace, #2215c2);">
<div class="container" style="max-width: 900px;margin: 0 auto;padding: 1rem;">
    <div class="header" style="display: grid;grid-template-columns: auto auto auto;justify-content: center;margin-top: 2rem;margin-bottom: 5rem;">
<img src="http://app.loopsnelheid.hu.nl/icon-white.png" alt="Loopsnelheid Logo" style="margin-left: auto;margin-right: 0;fill: white;padding-right: 1rem;">
        <h1 style="font-size: 36px;font-weight: bold;color: white;text-align: center;">Loopsnelheid</h1>
    </div>

    <div class="content" style="margin: auto;padding: 3rem;border-radius: 1rem;background-color: white;">
        <h2 style="margin-bottom: 1rem;font-size: 22px;font-weight: bold;">Uw persoonsdocument is gereed</h2>
        <p style="font-size: 15px;font-weight: bold;color: #AAAAAA;">Onze privacy-hamsters zijn blij om aan te kondigen dat uw persoonsdocument klaar is om opgehaald te worden! (Mocht u het vergeten zijn, u heeft deze speciale bezorging op <span th:text="${requestedAt}"></span> aangevraagd)</p>
        <p style="font-size: 15px;font-weight: bold;color: #AAAAAA;">In het persoonsdocument bevinden zich uw (persoons)gegevens en metingen die we gebruiken om de ultieme service aan te bieden.</p>
        <p style="font-size: 15px;font-weight: bold;color: #AAAAAA;">Ook kunt u, op eigen initiatief, het document overhandigen aan een zorgverlener. Uw zorgverlener heeft dan inzicht op uw (persoons)gegevens en metingen.</p>
    </div>

    <div>
        <p class="footer-text" style="font-size: 18px;font-weight: lighter;color: white;text-align: center;width: 100%;margin-top: 4rem;">©2022 Loopsnelheid. Alle rechten voorbehouden.</p>
    </div>
</div>
</body>

</html>
