<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Bevestig uw e-mailadres</title>
</head>

<body style="height: 100%;background-image: linear-gradient(to bottom, #1d58ef, #1c4ae4, #1d3bd9, #1f2ace, #2215c2);">
<div class="container" style="max-width: 900px;margin: 0 auto;padding: 1rem;">
    <div class="header" style="display: grid;grid-template-columns: auto auto auto;justify-content: center;">
        <svg viewbox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg" style="margin-left: auto;margin-right: 0;fill: white;padding-right: 1rem;"><path d="M0 0h48v48h-48z" fill="none"></path><path d="M28 7.6c1.98 0 3.6-1.61 3.6-3.6s-1.62-3.6-3.6-3.6c-1.99 0-3.6 1.61-3.6 3.6s1.61 3.6 3.6 3.6zm.24 12.4h9.76v-3.6h-7.25l-4-6.66c-.59-1-1.68-1.66-2.92-1.66-.34 0-.67.05-.98.14l-10.85 3.38v10.4h3.6v-7.33l4.21-1.31-7.81 30.64h3.6l5.74-16.22 4.66 6.22v10h3.6v-12.81l-4.98-9.08 1.47-5.74 2.15 3.63z"></path></svg>
        <h1 style="font-size: 36px;font-weight: bold;color: white;text-align: center;">Loopsnelheid</h1>
    </div>

    <div class="content" style="margin: auto;padding: 3rem;border-radius: 1rem;background-color: white;word-break: break-all;">
        <h2 style="margin-bottom: 1rem;font-size: 22px;font-weight: bold;">Bevestig uw e-mailadres</h2>
        <p style="font-size: 15px;font-weight: bold;color: #AAAAAA;word-break: break-word;">U heeft het e-mailadres van uw account aangepast, verifieer dit e-mailadres door op de knop “E-mailadres verifiëren” te drukken.</p>
        <a th:href="${mailApiUrl}" style="padding: 0;margin-top: 1.5rem;background-color: #2215C2;color: white;border: none;border-radius: .5rem;padding: 1rem;font-size: 20px;box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);cursor: pointer;outline: inherit;margin-bottom: 1.5rem;">E-mailadres verifiëren</a>
        <p style="font-size: 15px;font-weight: bold;color: #AAAAAA;word-break: break-word;">Gebruik onderstaande link als u problemen ervaart met de knop “E-mailadres verifiëren”:</p>
        <a th:href="${mailApiUrl}" th:text="${mailApiUrl}" style="font-size: 14px;font-weight: bold;color: #1D58EF;width: 70%;text-decoration: none;"></a>
    </div>

    <div>
        <p class="footer-text" style="font-size: 18px;font-weight: lighter;color: white;word-break: break-word;text-align: center;width: 100%;margin-top: 4rem;">©2022 Loopsnelheid. Alle rechten voorbehouden.</p>
    </div>
</div>
</body>

</html>
